# GLOBAL
LOG_LEVEL_AUTH=INFO


# ADMIN USER
AUTH_SERVICE_USERNAME=admin # <----
AUTH_SERVICE_PASSWORD=admin  # <----


# DB CONN SPECS
AUTH_DB_MIN_CONN=2
AUTH_DB_MAX_CONN=16
AUTH_DB_MAX_CONN_LIFETIME=3600
AUTH_DB_MAX_CONN_LIFETIME_JITTER=0
AUTH_DB_MAX_CONN_IDLE_TIME=1800
AUTH_DB_HEALTH_CHECK_PERIOD=60

