@keyframes fadeIn {
  from { opacity: 0; } to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; } to { opacity: 0; }
}

@keyframes slideUp {
  from { transform: translateY(10px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.csv-options {
  animation: fadeIn .4s ease;
}