@import url('./colors/palette.css');
@import url('./colors/tints.css');
@import url('./colors/effects.css');

:root {
    --bg: #ebf1ed;
    /* --bg: var(--color-white); */
    --panel: var(--mint-tint-500);
    --muted: var(--mint-tint-500);
    --text: var(--color-text-strong);
    --drop: var(--color-white);
    --drop-hover: var(--color-white-contrast);
    --accent: var(--color-blue-accent);
    --green: var(--color-green-base);
    --err: var(--color-error-base);
    --primary: #32c08a;
    --btn-bg: #24c98a;
    --btn-text: #d3d7d5;
    --btn-bg-hv: #2eb27f;
    --btn-bg-active: #0e7e53;
    --primary-600: #23a977;
    --panel: #e8f5ef;
    --danger: #e15555;
}
